html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    background-color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.the-box{
    width: 80%;
    max-width: 80%;
    min-width: 300px;
    display: flex;
    color: white;
    background-color: #1c1938;
    height: 450px;
}
.bold-text{
    font-size: 2em;
    margin: 0px;
    margin-bottom: 16px;
    word-wrap: break-word;
    font-weight: 600;
}
.description, .left-panel p{
   
        font-weight: 400;
        margin: 0;
        line-height: 26px;
        word-spacing: 5px;
        color: #f3f3f375;
        font-size: 15px;

}


.bottom-grid {
display: grid;
grid-template-columns: auto auto auto;
grid-column-gap: 10px;
}

.bottom-grid p{
    text-transform: uppercase;
}
.left-panel,.right-panel{
    flex: 1 1 50%;
}
.left-panel{
    background-color: #1c1938;
    padding: 5% 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.right-panel{
    background-color: #7929b5;
}
.right-panel .image{
    display: block;
    background-color: #7929b5;
    background-image: url("./images/image-header-desktop.jpg");
    background-repeat: no-repeat;
    
    background-size: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    z-index: -1;
    opacity: 0.3;
}


.highlight{
    color: #a45dd3;
}


@media screen and (max-width:567px){
    
    .right-panel .image{
        background-image: url("./images/image-header-mobile.jpg");
    }
    .the-box{
        flex-direction: column;
        height: 85%;
        min-height: 200px;
    }
}

